body {
  max-width: 500px;
  margin: auto;
}
.btn{
background-color: #5CC6D0;   
border: none;
}

.btn:hover{
border: 2px;
border-color: #5CC6D0;

}

.signin{
    background-color: cadetblue;
    border-radius: 0px;
}

.google{
    background-color: white;
}

#recommend-message{
    background-color: #5CC6D0;
    margin-bottom: 10%;
    padding:5px;
    color:white;
}

.emotion{
    margin-right: 20px;
    
}

.card{
    margin-top:50px;
    width:60%;
	backrgound-color:#F0F0F0;
}
.card h4{
    padding:5px;
    font-size: 1em;
}
.card img{
overflow:hidden; position:relative;
}


img {
        object-fit: cover;
}

.other-rec{
    margin-top:5%; 
}

.other-rec img{
    border-radius: 50%;
    height:100px;
    width:100px;
    object-fit: cover;
    
}

.column {
  flex: 10%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  margin-left: 4px;
margin-right: 4px;
  vertical-align: middle;
    

}

.nav img{
    border-radius: 0%;
    height:30px;
    width: auto;
padding-left:15px;


}



.nav {
    background-color: #51A8B1;
    color: white;
}

.userpic{
    border-radius:50%;
    height:120px;
    width:120px;
    margin-right:10px;
}

#userbar{
    margin-top:20px;
}

#userbar h1{
    font-size:20px;
}
#userbar p{
    margin:1px;
}

.nav-tabs{
    background-color:white;
    margin-top:50px;
}

.tab{
    padding-right:50px;
}

.d-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: 70px;
        grid-gap: 7px;
      }

      .item {
        position: relative;
      }

      .item:nth-child(1) {
        grid-column: 1 / 2;
        grid-row: 1 / 4;
      }

      .item:nth-child(2) {
        grid-column: 2;
        grid-row: 1 / 3;
      }

      .item:nth-child(3) {
        grid-column: 2;
        grid-row: 3 / 3;
      }

      .item:nth-child(4) {
        grid-column: 1;
        grid-row: 3 / 3;
      }

      .item a {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        overflow: hidden;
      }

      .item img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }



.search-container input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
    background-color: #F0F0F0;
}

.nav .search-container button {
  float: right;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 66px;
  background: #F0F0F0;
  font-size: 17px;
  border: none;
  cursor: pointer;
     border:none;
}

.search-container img{
    width:20px;
    height:20px;
}

.header {
  padding: 60px;
  text-align: center;
  background: #1abc9c;
  color: white;
  font-size: 30px;
height: 250px;
        box-shadow: 0px 8px 8px 1px   rgba(0,0,0,0.2);
}

.instructions{
    background-color:white;
    border: 1px;
    color:#007BFF;
}

.ingredients{
    font-size: 0.7em;
    background-color:#51A8B1;
    padding:5px;
    color:white;
    
}

.title-box{
    background-color:white;
    padding:5px;
    color: ##51A8B1;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 8px 8px 8px 1px   rgba(0,0,0,0.2);
    width:40%;
    margin-top:-20px;
}

.title-box h2{
    padding:3px;
    font-size: 1em;
    color: #51A8B1;
    
}